@import "./font.css";
@import "./line-icons.css";

.noshi__body {
    display: flex;
    justify-content: center;
}

.noshi__column {
    font-family: "HG正楷書体-PRO", serif;
    font-weight: bold;
    writing-mode: vertical-rl;
}

.noshi__padding {
    display: inline-block;
}

.noshi_a3 .noshi__body {
    height: 297mm;
    width: 420mm;
}

.noshi_a3 .noshi__column {
    margin-top: 1em;
    font-size: 75pt;
}

.noshi_a3 .noshi__padding {
    height: 2em;
}

.noshi_a4 .noshi__body {
    height: 210mm;
    width: 297mm;
}

.noshi_a4 .noshi__column {
    margin-top: 0.5em;
    font-size: 60pt;
}

.noshi_a4 .noshi__padding {
    height: 2em;
}

@media screen {
    .noshi {
        border: 1px solid var(--color-black);
        box-shadow: 0.1rem 0.1rem 0.5rem var(--color-black-alpha);
    }

    .noshi__body {
        background-color: var(--color-white);
    }

    .noshi_a3 .noshi__scale {
        transform: scale(0.4775);
        transform-origin: top left;

        height: calc(296mm * 0.4775);
        width: calc(420mm * 0.4775);
    }

    .noshi_a4 .noshi__scale {
        transform: scale(0.675);
        transform-origin: top left;

        height: calc(209mm * 0.675);
        width: calc(297mm * 0.675);
    }
}

@media print {
    .noshi {
        margin: 0;
    }
}
