server {
  listen      8443 ssl;
  server_name dev-gift-noshi.$DOMAIN;

  ssl_certificate     ${TLS_CERT};
  ssl_certificate_key ${TLS_KEY};

  location / {
    proxy_pass http://${LABO_IP}:${DEMO_GIFT_NOSHI_PUBLIC_PORT};
  }
}
